<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/BackEnd/images/favicon.ico" type="image/ico" />
    <title>Gentelella Alela! | </title>
    <!-- Bootstrap -->
    <link href="~/BackEnd/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/BackEnd/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/BackEnd/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/BackEnd/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/BackEnd/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/BackEnd/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/BackEnd/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/BackEnd/build/css/custom.min.css" rel="stylesheet">
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Home")" class="site_title"><i class="fa fa-paw"></i> <span>SYMPHONY</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/BackEnd/production/images/img.jpg" alt="~/BackEnd." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Welcome @Session["username"]</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Index <span class="fa fa-chevron-down"></span></a>

                                </li>

                                <li>
                                    <a href="@Url.Action("Index", "entance_exams")"><i class="fa fa-edit"></i> Exam details</a>

                                </li>

                                <li>
                                    <a href="@Url.Action("Index", "enrolls")"><i class="fa fa-edit"></i> Enrolled Students </a>

                                </li>

                                <li>
                                    <a href="@Url.Action("contact_admin_view", "Home")"><i class="fa fa-edit"></i> Locations | Contact </a>

                                </li>


                                <li>
                                    <a href="@Url.Action("Index", "entance_exams")"><i class="fa fa-table"></i> Student Details</a>

                                </li>
                                <li>
                                    <a href="@Url.Action("admin_course_view", "Home")"><i class="fa fa-bar-chart-o"></i> Courses </a>

                                </li>

                                <li>
                                    <a href="@Url.Action("admin_lectures_view", "Home")"><i class="fa fa-bar-chart-o"></i> Course Lectures </a>

                                </li>

                               


                                <li>
                                    <a href="@Url.Action("admin_faq_view", "Home")"><i class="fa fa-bar-chart-o"></i> FAQ'S </a>

                                </li>

                                @*<li>
            <a><i class="fa fa-clone"></i>  <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                <li><a href="fixed_footer.html">Fixed Footer</a></li>
            </ul>
        </li>*@
                            </ul>
                        </div>
                        @*<div class="menu_section">
                            <h3>Live On</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="e_commerce.html">E-commerce</a></li>
                                        <li><a href="projects.html">Projects</a></li>
                                        <li><a href="project_detail.html">Project Detail</a></li>
                                        <li><a href="contacts.html">Contacts</a></li>
                                        <li><a href="profile.html">Profile</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="page_403.html">403 Error</a></li>
                                        <li><a href="page_404.html">404 Error</a></li>
                                        <li><a href="page_500.html">500 Error</a></li>
                                        <li><a href="plain_page.html">Plain Page</a></li>
                                        <li><a href="login.html">Login Page</a></li>
                                        <li><a href="pricing_tables.html">Pricing Tables</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#level1_1">Level One</a>
                                        <li>
                                            <a>Level One<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu">
                                                    <a href="level2.html">Level Two</a>
                                                </li>
                                                <li>
                                                    <a href="#level2_1">Level Two</a>
                                                </li>
                                                <li>
                                                    <a href="#level2_2">Level Two</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#level1_2">Level One</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
                            </ul>
                        </div>*@
                    </div>
                    <!-- /sidebar menu -->

                   

                    <!-- /menu footer buttons -->
                    
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/BackEnd/images/img.jpg" alt="">@Session["username"]
                                </a>

                            </li>
                            <li><a href="@Url.Action("logout", "Home")"><i class="ti-user"></i>LogOut</a></li>

                        </ul>
                            
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <br /><br />
            <div class="container" style="margin-left:400px; width:1400px; background-color:white; color:black; margin-top:20px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:15px; padding:20px;">
                @RenderBody()
            </div>

            

            <!-- footer content -->
            @*<footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>*@
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/BackEnd/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/BackEnd/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/BackEnd/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/BackEnd/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/BackEnd/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/BackEnd/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/BackEnd/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/BackEnd/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/BackEnd/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/BackEnd/vendors/Flot/jquery.flot.js"></script>
    <script src="~/BackEnd/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/BackEnd/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/BackEnd/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/BackEnd/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/BackEnd/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/BackEnd/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/BackEnd/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/BackEnd/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/BackEnd/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/BackEnd/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/BackEnd/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/BackEnd/vendors/moment/min/moment.min.js"></script>
    <script src="~/BackEnd/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/BackEnd/build/js/custom.min.js"></script>

</body>
</html>
