@model Symphony.entance_exams

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BackEndLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>entance_exams</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enroll.s_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enroll.s_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.roll_num }) |
    @Html.ActionLink("Back to List", "Index")
</p>
