@model Symphony.faq

@{
    ViewBag.Title = "admin_faq_create";
    Layout = "~/Views/Shared/_BackEndLayout.cshtml";
}

@Html.Raw(ViewData["msg"])

<h2>FAQ Details Admin Pannel</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>faq</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.q, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.q, new { htmlAttributes = new { @class = "form-control" ,@required = true } })
                @Html.ValidationMessageFor(model => model.q, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.a, new { htmlAttributes = new { @class = "form-control" , @required = true } })
                @Html.ValidationMessageFor(model => model.a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" style="border:1px solid black; background-color:blue; color:white" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "admin_faq_view")
</div>
