@model Symphony.video

@{
    ViewBag.Title = "admin_lectures_create";
    Layout = "~/Views/Shared/_BackEndLayout.cshtml";
}

@ViewData["message"]

<h2>Lectures Create Admin Pannel</h2>
@using (Html.BeginForm("admin_lectures_create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>video</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.lecture_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lecture_name, new { htmlAttributes = new { @class = "form-control" , @required = true} })
                @Html.ValidationMessageFor(model => model.lecture_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.video_path, htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="file" name="videofile" required />
            @Html.ValidationMessageFor(model => model.video_path, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.c_id, "c_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("c_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.c_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn" style="border:1px solid black; background-color:blue; color:white" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "admin_lectures_view")
</div>
