@model Symphony.enroll

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BackEndLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>enroll</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.s_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cours.c_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cours.c_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.enroll_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
